* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

div.hide {
  display: none;
}

div.container {
  border: 1px solid red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.win-container {
  border: 1px solid red;
  background-color: rgba(161, 161, 161, 0.702);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-win,
.computer-win {
  border: 1px solid red;
  height: 20vh;
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-win {
  background-color: greenyellow;
}

.computer-win {
  background-color: red;
}

.prompt-window {
  text-align: center;
  font-size: 2rem;
}

div.game-container {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}

.name {
  text-align: center;
  font-size: 1.8rem;
}

@font-face {
  font-family: "Gunmetal";
  src: url("./assets/Gunmetal.woff2") format("woff2"),
    url("./assets/Gunmetal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  text-align: center;
  font-family: "Gunmetal";
  font-size: 7rem;
  margin-top: 20px;
}

.cell {
  background-color: rgba(0, 0, 0, 0.076);
  border: 1px solid rgba(0, 0, 0, 0.387);
}

.player-two > .board > .cell:hover {
  background-color: rgba(172, 255, 47, 0.278);
}

.cell.ship {
  background-color: aqua;
}

.cell.miss:hover {
  background-color: grey;
}

/* .cell.ship:after {
  content: "o";
} */

.cell.hit {
  background-color: rgb(255, 65, 65);
}

/* .cell.ship.hit::after {
  content: "s";
} */

.cell.miss {
  background-color: grey;
}

/* .cell.miss:after {
  content: "'";
} */

.letters {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 /3;
  grid-template-columns: repeat(10, 1fr);
}

.letters > *,
.numbers > * {
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numbers {
  grid-column: 1 /2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.player-one,
.player-two {
  display: grid;
  grid-template-rows: minmax(auto, max-content) minmax(auto, max-content) minmax(
      auto,
      max-content
    );
  grid-template-columns: minmax(auto, max-content) minmax(auto, max-content);
}

.name {
  margin-bottom: 20px;
  grid-column: 1 /3;
  grid-row: 1 /2;
}

.board {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 1px solid green;
  min-height: 400px;
  min-width: 400px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

@media only screen and (max-width: 600px) {
  .player-one,
  .player-two {
    min-height: 300px;
    min-width: 300px;
  }

  div.game-container {
    gap: 40px;
  }

  .header {
    font-size: 5rem;
  }
}
